div.green1 {
  height: 40px;
  width: 40px;
  border: 1 solid black;
  background-color: green;
  margin-right: 10px;
  cursor: pointer;
}

div.yellow1 {
  height: 40px;
  width: 40px;
  border: 1 solid black;
  background-color: yellow;
  margin-right: 10px;
  cursor: pointer;
}

div.red1 {
  height: 40px;
  width: 40px;
  border: 1 solid black;
  background-color: red;
  cursor: pointer;
}

.red1:active {
  border: 1px solid black;
}

.green1:active {
  border: 1px solid black;
}

.yellow1:active {
  border: 1px solid black;
}

div.colors {
  display: flex;
}
